html, body{
    height: 100%;
}

body{
    font-family: 'MedievalSharp', cursive;    
}

header, footer{
    background-color: whitesmoke;
    border: 1px solid lightslategray;
    padding: 20px;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content{
    display: flex;
    width: 100%;
}

.container, .panel-vertical-left, .panel-vertical-right{
    background-color: whitesmoke;
    border: 1px solid lightslategray;
    padding: 10px;
    flex: auto;
}

.panel-vertical-left, .panel-vertical-right{
    max-width: 200px;
    height: 100%;
}

.container-header{
    padding: 10px;
}

.containter-body{
    padding: 10px;
}